<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书馆</title>
</head>
<body>
<form  action = "/books/delect" method="post">
    根据图书id删除图书：<input type="text" id="id" name = "id"> <br>
    <input type="submit"  value = "删除">
        <br> <br>
</form>

    <form  action ="/books" method="post">
         新增图书：<br>
        书名：  <input type="text"  name = "book_name"> <br>
        作者：  <input type="text"  name = "book_author"> <br>
        价钱：  <input type="text"  name = "book_price"> <br>
        <input type="submit"  value = "添加">
</form>

</body>
</html>